@media screen and (min-width: 300px) and (max-width: 520px) {
    .container {
        min-width: 100%;
        min-height: 100%;
    }

    .title {
        box-shadow: 0 0 10px 10px white;
        padding: 0;
        margin-top: 15px;
    }

    .score-panel {
        width: 70%;
        margin-top: 15px;
    }

    .deck {
        width: 90%;
        max-height: 100%;
        padding: 15px;
        margin: 0 0 1em;
    }

    .deck .card {
        max-height: 10rem;
        max-width: 6rem;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
    }

}

@media screen and (min-width: 520px) and (max-width: 630px) {
    .deck .card {
        max-height: 10rem;
        max-width: 8rem;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
    }
}

@media screen and (min-width: 631px) and (max-width: 760px) {
    .container {
        min-width: 100%;
        min-height: 100%;
    }

    .deck {
        width: 90%;
        max-height: 100%;
        padding: 25px;
        margin: 0 0 1em;
    }

    .deck .card {
        max-height: 15rem;
        max-width: 15rem;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
    }
}